body {
	margin: 0;
}
header img {
	width: 100%;
}

form {
	width: 100%;
	text-align: center;
}

form span , form .input-email {
	display: inline-block;
	font-family: 'Pacifico', cursive;
	font-weight: bold;
}

input[type="text"] {
	margin: 0 10px;
	padding: 3px;
	width: 190px;
	border: 1px solid black;
}

input[type="submit"] {
	background-color: rgb(219, 168, 196);
	border: 1px solid rgb(219, 168, 196);
	border-radius: 5px;
	width: 90px;
	height: 25px;
	font-size: 11px;
	color: white;
}

.social {
	position: absolute;
	right: 0;
}

.social a {
	color: rgb(219, 168, 196);
	font-size: 30px;
	margin: 10px;
	text-decoration: none;
}

footer {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
}

footer a {
	color: rgb(219, 168, 196);
}

@media (max-width: 800px) {
	
	.social {
		text-align: center;
		position: static;
		margin-top: 5%;
	}
	form span p{
		margin: 0;
	}
	.input-email {
		margin: 0
	}
	footer {
		position: static;
		margin-top: 20%;
	}
}