body {
	margin: 0;
}
header img {
	width: 100%;
	height: auto;
}
.container {
	margin: 0 3%;
}
.enter-email {
	display: flex;
	flex-wrap: wrap; 
}
.text-email {
	width: 100%;
	text-align: center;
}
.text-email p {
	font-family: 'Pacifico', cursive;
	margin-bottom: 1px; 
	font-weight: bold;
	margin-left: 15px;
}
.input-email {
	width: 62%;
	height: 25px;
	display: flex;
	justify-content: center;
}
.input-email input {
	width: 100%;
	border: black solid 1px;
	margin-left: 10px;
}
::placeholder {
	color: gray;
} 
.button-email {
	width: 33%;
	height: 25px;
}
.button-email input {
	width: 80%;
	height: 26px;
	background-color: rgb(219, 168, 196);
	border: solid rgb(219, 168, 196);
	border-radius: 5px;
	color: white;
	margin-left: 20px; 
}
.social {
	color: rgb(219, 168, 196);
	font-size: 40px;
	margin: 4% 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.tw , .ig , .fb {
	margin: 4%;
}
footer {
	text-align: center;
	margin: 15% 0;
}
footer a {
	color: rgb(219, 168, 196);
}
@media (min-width: 800px) {
	.container {
		margin: 0 ;
	}
	.text-email {
		width: 39%;
		margin-left: 40px;
		text-align: right;
	}
	.text-email p { 
		padding-top: 5px;
	}
	.input-email {
		width: 16.5%;
		margin-top: 23px;
	}
	.input-email input {
		height: 8px; 
		padding-top: 8.5px;
		padding-bottom: 8.5px;
	}
	.button-email {
		width: 25%;
		margin-top: 24px;
	}
	.button-email input{
		width: 30%;
		height: 26px;
		margin-left: 12px;
	}
	.social {
		font-size: 30px;
		margin-top: 0;
		display: flex;
		justify-content: flex-end;
		margin-right: 50px;
	}
	.tw , .ig , .fb {
		margin: 1%;
	}
	footer {
		width: 100%;
	}
}